* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Roboto", sans-serif;
}

body {
  height: auto;
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.header {
  height: 70vh;
  width: 100%;
  display: block;
  background-image: url("../images/banner/banner3.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hedContent {
  height: auto;
  width: 38%;
  display: block;
  color: #ffffff;
  padding: 25px;
  text-align: right;
  position: absolute;
  top: 20%;
  right: 8%;
}
.hedContent h1 {
  font-size: 40px;
}
.hedContent p {
  color: #ffffff;
}

.title {
  font-size: 35px;
}

.titleDetais {
  font-size: 13px;
  margin: 20px 0 45px;
  color: #848484;
}

.priBtn {
  color: #005fac;
  background: #ffffff;
  border-radius: 5px;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 18px;
  text-decoration: none;
  font-size: 22px;
}
.priBtn:hover {
  color: #ffffff;
  background: #005fac;
  border: 2px solid #ffffff;
}

main {
  padding: 70px;
}

.sectionContent {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 60px;
}

.imgContent img {
  height: auto;
  width: 80%;
  display: block;
}

.cntntDtls {
  height: auto;
  width: 35%;
  display: block;
  padding: 20px;
}
.cntntDtls p {
  margin: 20px 0 15px;
}

.cntntDtls-ul {
  display: block;
  color: #848484;
  margin-left: 15px;
}
.cntntDtls-ul li {
  list-style: none;
  font-size: 12px;
  margin: 8px 0;
}
.cntntDtls-ul li .las {
  color: #00ff00;
  font-size: 14px;
}

.cntntAbt {
  height: auto;
  width: 100%;
  display: block;
  margin: 40px auto 0;
}
.cntntAbt ul {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
.cntntAbt ul li {
  height: 230px;
  width: 24%;
  display: block;
  list-style: none;
  padding-top: 40px;
  border-radius: 10px;
}

.liContent {
  height: 95%;
  width: 100%;
  display: block;
  background: #ffffff;
  position: relative;
  padding: 30px 20px;
  border-radius: 10px;
}
.liContent .las {
  background: #ffffff;
  font-size: 30px;
  padding: 3px;
  border-radius: 10px;
  border: 5px solid;
  position: absolute;
  top: -22px;
  left: 20px;
}
.liContent h3 {
  color: #000000;
  font-size: 25px;
  margin-bottom: 15px;
}
.liContent p {
  color: #848484;
}

.diagram {
  color: #ff8f73;
  background: #ff8f73;
  border: 2px solid #ff8f73;
}

.brain {
  color: #79e2f2;
  background: #79e2f2;
  border: 2px solid #79e2f2;
}

.bullhorn {
  color: #8777d9;
  background: #8777d9;
  border: 2px solid #8777d9;
}

.tasks {
  color: #005fac;
  background: #005fac;
  border: 2px solid #005fac;
}

.contentPlan {
  height: auto;
  width: 100%;
  display: block;
  padding: 70px;
  text-align: center;
}

.inline-ul {
  height: auto;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto 0px;
}
.inline-ul li {
  height: auto;
  width: 100%;
  display: block;
  align-items: false;
  list-style: none;
  line-height: 2;
  color: #848484;
  padding: 10px;
  border: 1px solid transparent;
}
.inline-ul li:hover {
  color: #005fac;
  border: 1px solid #005fac;
}
.inline-ul li:hover h3 {
  color: #005fac;
}
.inline-ul li h3 {
  color: #000000;
  font-size: 25px;
}

.cntntEnd {
  height: auto;
  width: 75%;
  display: block;
  margin: 0 auto;
  padding: 60px;
  border-radius: 10px;
  background-image: url("../images/watch.png"), linear-gradient(90deg, #005fac, #ffffff);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}
.cntntEnd h2 {
  color: #ffffff;
  margin-bottom: 40px;
}

.footer {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #000000;
  color: #848484;
  padding: 20px 0;
}
.footer h2 {
  color: #ffffff;
}

.cntInfo {
  height: auto;
  width: 32%;
  display: block;
  padding: 30px;
}
.cntInfo p {
  margin: 20px 0;
}
.cntInfo > ul {
  font-size: 13px;
  line-height: 2;
  list-style: none;
}

.ft-ul {
  width: 50%;
  margin: 10px 0;
}
.ft-ul li {
  border: none;
  opacity: 0.5;
}
.ft-ul li:hover {
  border: none;
  opacity: 1;
}

.cntContent {
  height: auto;
  width: 32%;
  display: block;
  padding: 30px;
}
.cntContent h2 {
  font-size: 20px;
}

.cntForm {
  padding: 30px 0;
}
.cntForm input {
  height: auto;
  width: 90%;
  display: flex;
  align-items: false;
  flex-direction: column;
  padding: 12px;
  color: #ffffff;
  background: #000000;
  border: 2px solid #848484;
  outline: none;
  border-radius: 10px;
  font-size: 16px;
}
.cntForm input[type=email]:focus {
  color: #005fac;
  border: 2px solid #005fac;
}
.cntForm input[type=submit] {
  width: auto;
  padding: 15px 30px;
  margin-top: 20px;
  background: #005fac;
  border: none;
  cursor: pointer;
  opacity: 0.5;
}
.cntForm input[type=submit]:hover {
  opacity: 1;
}